@use "govuk-frontend/dist/govuk/index" as gds with (
  $govuk-global-styles: true,
  $govuk-font-family: ("Helvetica Neue", arial, sans-serif),
  $govuk-include-default-font-face: false,
  $govuk-images-path: "/assets/govuk/images/",
  $govuk-fonts-path: "/assets/govuk/fonts/"
);
@forward "govuk-frontend/dist/govuk/index";
